.nav-link:hover {
  background-color:#b8b8b8;
}


h1.display-4 {
  font-size: 25px;
}

p.lead {
  font-size: 65px;
}

div.jumbotron {
  text-align: center;
  background-color: white;
  font-family: 'Baloo Da 2', cursive;
}

a.nav-link {
  margin-left: 175px;
}

h2 {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 40px;
}

img.placeholder {
  margin-left: 130px;
}

img#rightmargin {
  margin-right: 50px;
}

h3 {
  display: inline;
}

h3.first {
  margin-left: 130px;
}

h3.second {
  margin-left: 296px;
}
