.nav-link:hover {
  background-color:#b8b8b8;
}


h1.display-4 {
  font-size: 25px;
}

p.lead {
  font-size: 65px;
}

div.jumbotron {
  text-align: center;
  background-color: white;
  font-family: 'Baloo Da 2', cursive;
}

a.nav-link {
  margin-left: 175px;
}

h2 {
  text-align: center;
  font-family: 'Lora', serif;
  font-size: 50px;
}

img.placeholder {
  margin-left: 130px;
}

img#rightmargin {
  margin-right: 50px;
}

img:hover {
  animation: imghover 1.5s forwards;
}

@keyframes imghover {
  from {height: 300px; width: 400px;}
  to {height: 350px; width: 450px;}
}

h3 {
  display: inline;
}

h3.first {
  margin-left: 130px;
  font-size:25px;
}

h3.second {
  margin-left: 320px;
  font-size:25px;
}

p {
  margin-left: 130px;
  margin-right: 130px;
}

div.text-align {
  text-align: center;
}
